* {
    font-size: 25px;
    font-family: sans-serif;
}
body, html {
    padding: 0;
    background-color: #333333;
    color: #FFFFFF
}
#auth form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#auth p, h1 {
    text-align: center;
}
button {
    padding: 8px 16px;
}
.index-section {
    width: 100%;
    height: 100vh;
}
.index-section header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.index-section main {
    display: flex;
    flex-direction: column;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    justify-content: left;
    height: 80vh;
}
.index-section footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
#message {
    resize: none;
    width: 60%;
}
.create-chat .chat-type {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.create-chat {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.index-section header .chat-funcs {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#scroll {
    width: 100%;
    height: 80vh;
    background-color: #333333;
    color: #FFFFFF;
    overflow-y: auto;
}
th, td {
    padding: 7px;
}
.redact-msg-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
}
.button-link {
    background: none;       /* убираем фон */
    border: none;           /* убираем рамку */
    padding: 0;             /* убираем отступы */
    color: #FFFFFF;           /* цвет текста как у ссылки */
    cursor: pointer;        /* курсор как у ссылки */
    font: inherit;          /* наследуем шрифт */
}

.button-link:hover {
    color: lightgrey;        /* эффект при наведении */
}
.msg-funcs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#answer-fild {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    background-color: grey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 5vh;

}
.profile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.question-sender {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: lightgrey;
}
.center-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.button-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.body-section {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.base-section {
    width: 100%;
}
.burger-menu {
    border-right: 1px solid grey;
    margin-right: 5px;
    padding: 5px;
}
.left-burger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shaped {
    border-radius: 50px;
}
.channel-icon {
    background-color: #FFFFFF;
    color: #333333;
    padding: 5px 10px 5px 10px;
}
.channel-icon:hover {
    color: grey;
}
.row-form {
    display: flex;
    flex-direction: row;
    gap: 7px;
}