<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
    <header class="space-between">
        <div>
            <button class="button-link"><img src="{{ url_for('static', filename='burger_menu.png') }}" width="40px" height="40px"></button>
            <button class="button-link" onclick="window.location.href = '{{ conn_type }}://{{ main_ip }}/profile?user={{ login }}';">
                <div class="profile-header">
                    <img src="{{ url_for('static', filename='account.png') }}" width="40px" height="40px">
                    <p>{{ login }}</p>
                <div>
            </button>
        </div>
        <form action="{{ conn_type }}://{{ main_ip }}/index" method="post">
                <input type="hidden" name="clear_session" value="1">
                <button type="submit">Выйти</button>
        </form>
        {% if login == 'admin' %}
            <form action="{{ conn_type }}://{{ main_ip }}/index" method="post">
                <input type="hidden" name="admin" value="1">
                <button type="submit">Админ панель</button>
            </form>
        {% endif %}
    </header>
    {% block content %}{% endblock %}
</body>
</html>