{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
    <section class="index-section">
        <main class="space-between">
            <h1 style="text-align: center;">Выберите чат</h1>

            <div id="scroll" style="display: none;">
                {% for message in messages %}
                    <button class="button-link" onclick="window.location.href = '{{ conn_type }}://{{ main_ip }}/profile?user={{ message.sender }}'">
                        [{{ message.sender }}]:
                    </button>
                    <button onclick="show_msg_funcs('msg-{{ message.index }}')" class="button-link" id="btn-text">{{ message.text }}</button>

                    <div class="msg-funcs" style="display: none;" id="msg-{{ message.index }}">
                        {% if login == message.sender %}
                            <form action="{{ conn_type }}://{{ main_ip }}/index" method="post">
                                <input type="hidden" name="change_msg" value="1">
                                <input type="hidden" name="sender" value="{{ message.sender }}">
                                <input type="hidden" name="text" value="{{ message.text }}">

                                <button type="submit">Изменить</button>
                            </form>
                            <form action="{{ conn_type }}://{{ main_ip }}/index" method="post">
                                <input type="hidden" name="delete_msg" value="1">
                                <input type="hidden" name="sender" value="{{ message.sender }}">
                                <input type="hidden" name="text" value="{{ message.text }}">

                                <button type="submit">Удалить</button>
                            </form>
                        {% endif %}
                        <button onclick="answer_msg('{{ message.index }}', '{{ message.sender }}', '{{ message.text }}')">Ответить</button>
                    </div>
                    <br>
                {% endfor %}
            </div>

            <div id="answer-fild" style="display: none;">
                <img src="{{ url_for('static', filename='arrow.png') }}" width="40px" height="40px">
            </div>
        </main>

        <footer style="display: none;">
            <textarea type="text" placeholder="Ваше сообщение" id="message"></textarea>
            <button onclick="send_text()">Отправить</button>
        </footer>
    </section>
    <script>
        const socket = io();
        let message_type = "msg";

        socket.emit("join_room", {})
        socket.on("message", function(data) {
            const msg_fild = document.getElementById("scroll");
            
            const label_author = document.createElement("label");
            label_author.textContent = `[${data.sender}]: `;
            label_author.htmlFor = "button-link";
            msg_fild.appendChild(label_author);

            const button_text = document.createElement("button");
            button_text.className = "button-link";
            button_text.id = "btn-text";
            button_text.textContent = data.text;
            button_text.onclick = () => show_msg_funcs(`msg-${data.index}`);
            msg_fild.appendChild(button_text);

            msg_fild.scrollTop = msg_fild.scrollHeight;
        });

        socket.on("answer", function(data) {
            const msg_fild = document.getElementById("scroll");

            // контейнер для всего блока
            const container = document.createElement("div");

            // блок вопроса
            const questionDiv = document.createElement("div");
            questionDiv.className = "question-sender";

            const img = document.createElement("img");
            img.src = "/static/arrow.png"; // url_for подставляется сервером, в JS пишем путь напрямую
            img.width = 40;
            img.height = 40;

            const p = document.createElement("p");
            p.textContent = `[${data.question_sender}]: ${data.question_text}`;

            questionDiv.appendChild(img);
            questionDiv.appendChild(p);

            // блок ответа
            const answerDiv = document.createElement("div");
            answerDiv.className = "answer-sender";

            const label = document.createElement("label");
            label.setAttribute("for", "btn-text");
            label.textContent = `[${data.sender}]: `;

            const button = document.createElement("button");
            button.className = "button-link";
            button.id = "btn-text";
            button.textContent = message.text;
            button.onclick = () => show_msg_funcs(`msg-${data.index}`);

            answerDiv.appendChild(label);
            answerDiv.appendChild(button);

            // собираем всё вместе
            container.appendChild(questionDiv);
            container.appendChild(answerDiv);

            msg_fild.appendChild(container);
        })

        function send_text() {
            const message = document.getElementById("message").value;

            if (message_type == "msg") {
                socket.emit("message", {text: message});
            } else {
                const question_sender = document.getElementById("question-sender").value;
                const question_text = document.getElementById("question-text").value;
                socket.emit("answer", {text: message, question_sender: question_sender, question_text: question_text});
            }
        }

        function show_msg_funcs(id) {
            const funcs_div = document.getElementById(id);

            if (funcs_div.style.display == "none") {
                funcs_div.style.display = "flex";
                funcs_div.style.flexDirection = "row";
                funcs_div.style.gap = "10px";
            } else {
                funcs_div.style.display = "none";
            }
        }

        function answer_msg(id, sender, text) {
            const answer_fild = document.getElementById("answer-fild");
            answer_fild.style.display = "flex";
            answer_fild.style.flexDirection = "row";
            answer_fild.style.alignItems = "center";
            answer_fild.style.gap = "10px";

            // очищаем старое содержимое
            answer_fild.innerHTML = `
                <img src="/static/arrow.png" width="40" height="40">
                <p>[${sender}]: ${text}</p>
            `;

            // скрываем меню функций
            const funcs_div = document.getElementById(id);
            funcs_div.style.display = "none";
        }

    </script>
{% endblock %}